/* Fonts */
@font-face {
    font-family: "Avenir-regular";
    src: url("/dist/fonts/Avenir.ttc");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Avenir-bold";
    src: url("/dist/fonts/AvenirNext.ttc");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Avenir-bold-condensed";
    src: url("/dist/fonts/AvenirNextCondensed.ttc");
    font-weight: normal;
    font-style: normal;
}
/* Resets */
button, a{
    background: transparent;
    border: none;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}
.icon-size{
    &-20{
        font-size: 20px;
    }
    &-25{
        font-size: 25px;
    }
    &-30{
        font-size: 30px;
    }
    &-35{
        font-size: 35px;
    }
    &-40{
        font-size: 40px;
    }
}
.mr-bottom{
    &-20{
        margin-bottom: 20px;
    }
    &-30{
        margin-bottom: 30px;
    }
    &-40{
        margin-bottom: 40px;
    }
}
.font-b{
    font-family: 'Avenir-bold';
}
html{
    height: 100%;
    position: relative;
    &.full-back{
        body {
            height: 100%;
            position: relative;
            background: url("/dist/img/main-mobile.png") no-repeat center center fixed;
            background-size: cover;
        }
    }
  }
.main-wrapper{
    padding: {
        left: 52px;
        right: 52px;;
    }
    margin-bottom: 40px;    
}

h1,h2,h3,h4,h5,h6,p,span,div, label{
    font-family: 'Avenir-regular';
    color:$color-dark-gray;
}
.hidden{
    display: none;
}
.show{
    display: block;
}
.logo{
    margin-top: 20px;
    margin-bottom: 40px;
}
.cr-white{
    color: white !important;
}
.title{
    font-size: 36px;
    margin-bottom: 20px;
}
.topic{
    font-size: 20px;
    margin-bottom: 40px;
}
.text{
    font-size: 12px;
}
.text-details{
    font-size: 12px;
}
.main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.terminos{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 0;
}
.legal-foot{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}
.btn-red{
    @include gradient;
    width: 216px;
    min-height: 53px;
    color: white;
    border:none;
    border-radius:50px;
    font-size: 24px;
    margin-bottom: 20px;
    transition: all 350ms ease-in-out; 
    &:hover{
        @include gradient-hover;
    }
    &.registrar{
        width: 265px;
    }
}
.btn-item{
    display: flex;
    flex-direction:column;
    justify-content: center;
    color: white;
   align-items: center;
   margin-bottom: 25px;
   font-size: 18px;
   transition:all 350ms ease-in-out;
   &:hover, &.active{
       font-family: 'Avenir-bold';
   }

}
.dot{
    @include gradient;
    width: 15px;
    height: 15px;
    margin-bottom: 10px;
    border-radius: 50%;
    &.gray{
        background: $color-medium-gray;
        margin-bottom: 0;
    }
}
.show-agencia{
    display: none;
}
.top{
    .line-color{
        height: 8px;
        display: flex;
        width: 100%;
        .item-color-1{
            flex-grow: 1;
            background-color: $color-cyan;    
        }
        .item-color-2{
            flex-grow: 1;
            background-color: $color-purple;    
        }
        .item-color-3{
            flex-grow: 1;
            background-color: $color-dark-blue;    
        }
    }
    .pleca-roja{
        @include gradient;
        height: 150px;
        margin-bottom:40px;
        
        .col-12{
            padding-top: 80px;
        }     
    }
}

.items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    input{
        height: 70px;
        width: 70px;
        -webkit-appearance: none;
        z-index: 1;
        margin-bottom: 10px;
        
    }
    input:checked, input:focus{
        outline: none;
        &:before{
            content: " ";
            @include gradient;
            width: 15px;
            height: 15px;
            margin-bottom: 10px;
            border-radius: 50%;  
        }
    }
    .item-type{
        position: relative;
        margin-bottom: 30px;
        i{
            position: absolute;
            top: 0;
            left: 0;
            font-size: 70px;
            z-index: 0;
            pointer-events: none
        }
        .dot{
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.btn-1{
    width: 119px;
    height: 20px;
    font-size: 12px;
    color: white;
    background-color: $color-cyan;
    border-radius: 50px;
    transition: background-color 350ms ease-in-out;
    &:hover{
        background-color: $color-light-blue;
    }

}
.item-type-number{
    position: relative;
    input{
        width: 100%;
        border: none;
        height: 45px;
        border-radius: 50px;
        padding: 10px;
        &[type=number]{
            -moz-appearance: textfield;
        }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}

.quantity {
     position: relative;
     margin-bottom: 30px;
     .head-icon{
         display: flex;
         align-items: flex-end;
         justify-content: center;
         .text{
             line-height: .5;
         }
     }
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number]
  {
    -moz-appearance: textfield;
  }
  
  .quantity input {
    height: 40px;
    width: 223px;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: none;
  }
  
  .quantity input:focus {
    outline: 0;
  }
  
  .quantity-nav {
    position: absolute;
    z-index: 1;
    bottom:0;
    right: 0;
    display: flex;
    height: 40px;
    width: 80px;


  }
  .quantity-up, .quantity-down{
    background-color: $color-light-blue;
    color: white;
  }
  .quantity-button {
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Avenir-regular", Helvetica, sans-serif !important;
    line-height: 1.7;
  }
  .quantity-button.quantity-up, .quantity-button.quantity-down{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
  }


  
  .quantity-button.quantity-down {
    bottom: 0;
  }  
  .styled-checkbox {
    position: absolute;
    opacity: 0;
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
    }
  
    // Box hover
    &:hover + label:before {
      background: $color-red-2;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    // Box checked
    &:checked + label:before {
      background:white;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: $color-red-1;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: $color-red-1;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background:$color-red-1;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 $color-red-1,
        4px 0 0 $color-red-1,
        4px -2px 0 $color-red-1,
        4px -4px 0 $color-red-1,
        4px -6px 0 $color-red-1,
        4px -8px 0 $color-red-1;
      transform: rotate(45deg);
    }
  }
.detalles{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: $color-medium-gray;
}
.inline-elements{
    display: flex;
    justify-content: space-around;
}
.add{
    margin-bottom: 20px !important;
    input{
        border-radius: 0;
        border: white;
        &[disabled]{
            background: white;
        }
    }
    button{
        border-radius: 0;
        background-color: $color-light-blue;
        color: wheat;
        border: none;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        &.less{
            background-color: $color-red-1;
        }
    }
}
.grid-less{
    display: flex;
    flex-wrap: wrap;
    .add{
        width: 100%;
    }
    &.space{
        justify-content: space-between;
    }
}

.choose{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    i{
        font-size: 60px;
        line-height: 1;
    }
    .footer{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        .btn-choose{
            width: 140px;
            height: 40px;
            background-color: white;
            position: absolute;
            border-radius: 50px;
            z-index: 0;
            -webkit-appearance: none;
            transition: all 350ms ease-in-out;
            cursor: pointer;
            padding: 10px;
            &:hover, &:checked{
                background-color: $color-light-blue;
                color: white;
                border: none;
                outline: 0;
            }
            &:focus{
                border: none;
                outline: 0;
            }
        }
        label{
            z-index: 1;
            pointer-events: none;
            margin-bottom: 0;  
            font-size: 10px; 
        }
    }
}
.map{
    height: 270px;
}
.separator{
    position: relative;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    .line{
        height: 1px;
        background-color: $color-medium-gray;
        width: 47%;
    }
}
.cr-red{
    color: $color-red-1;
}
.link-red{
    color: $color-red-1;
    transition: color 350ms ease-in-out;
    &:hover{
        color: $color-red-2;
    }
}
@media #{$md}{
    .btn-red{
        &.registrar{
            width: 380px;
        }
    }
    .items{
        flex-direction: row;
    }
    .btn-1{
        width: 200px;
        height: 45px;
        font-size: 22px;
        color: white;
        background-color: $color-cyan;
        border-radius: 50px;
    
    }
    .grid-less{
        .add{
            width: 30.5%;
            &:not(:nth-child(3)){
                margin-right: 20px;
            }
        }
    }
    .choose{
        width: 25%;
    }

}


@media #{$lg}{
    html{
        &.full-back{
            body {
                background: url("/dist/img/main.jpg") no-repeat center center fixed;
                background-size: cover;
            }
        }
    }
    .items{
        width: 600px;
        &.width{
            width: 800px;;
        }
    }
    .logo{
        text-align: left!important;
        margin-left: 120px
    }
    .main-wrapper{
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .title{
        font-size: 80px;
    }
    .text{
        font-size: 24px !important;
    }
    .topic{
        font-size: 44px;
        margin-bottom: 0;
        
    }
    .subtitle{
        font-size: 30px !important;
        text-align: left !important;
    }
    .main-menu{
        flex-direction: row;
        justify-content: space-between;
    }
    .btn-item{
        width: 200px;
    }
    .hidden-agencia{
        display: none
    }
    .show-agencia{
        display: block;
        position: absolute;
        top: 0;
        right: 130px;
    }
    .terminos{
        flex-basis: 100%;
        max-width: 100%;
        justify-content: center;
    }
    .legal{
        font-size: 18px!important;
    }
    .grid-less{
        .add{
            width: 31.7%;
        }
    }
}